{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="groombride" class="section-padding bg-gray">
	<div id="qbootstrap-groom-bride" data-section="groom-bride">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-12 text-center section-heading svg-sm-2 colored">
						<img src="{% static 'images/flaticon/svg/002-wedding-couple.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
						<h2>Noivo & Noiva</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusamus, sequi, minima repellendus explicabo magni aperiam, ducimus perferendis ad quidem suscipit omnis unde veritatis pariatur. Commodi, nisi. Iusto, accusantium a.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="couple groom text-center animate-box">
						<img src= "{{ noivo.imagem.thumb.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
						<div class="desc">
							<h2>{{ noivo.nome }}</h2>
							<p>{{ noivo.bio }}</p>
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href={{ noivo.instagram }} target="_blank"><i class="icon-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="couple bride text-center animate-box">
						<img src="{{ noiva.imagem.thumb.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
						<div class="desc">
							<h2>{{ noiva.nome }}</h2>
							<p>{{ noiva.bio }}</p>
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href={{ noiva.instagram }}><i class="icon-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
{% endblock %}