{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="lovestory" class="section-padding bg-gray">
	<div id="qbootstrap-story" data-section="story">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-12 text-center section-heading svg-sm-2">
						<img src="{% static 'images/flaticon/svg/003-luxury.svg' %}" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
						<h2>Sua História de Amor</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="timeline animate-box">
                        {% for historia in historias %}
						<li class="animate-box {% cycle 'timeline-inverted' '' %}">
							<div class="timeline-badge" style="background-image:url(images/couple-1.jpg);"></div>
							<div class="timeline-panel">
								<div class="overlay"></div>
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ historia.titulo }}</h3>
									<span class="date">{{ historia.data }}</span>
								</div>
								<div class="timeline-body">
									<p>{{ historia.conteudo }}</p>
								</div>
							</div>
						</li>
                        {% endfor %}
			    	</ul>
				</div>We're Engaged

			</div>
		</div>
	</div>
</section>

{% endblock %}
